#!/bin/bash

  echo "Content-type: text/html"
  echo ""
  echo '<html>'
  echo '<head>'
  echo '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">'
  echo '<title>UCM Deploy</title>'
  echo '</head>'
  echo '<body>'

  thisnode="`hostname -f`"                
  host="${thisnode}"              
  thispage='cgi-bin/ucmdeploy.cgi' 
  self="http://${thisnode}/${thispage}"

  echo '<br>'
  echo "<h4>Deploy UCM Data Modules</h4>"
  echo "<form method=GET action="${self}">"\ 
  echo '<table nowrap>'\
         '<tr><td>Bitbucket Git URL</TD><TD><input type="text" name="bburl" size=12></td></tr>'\
         '<tr><td>Branch</TD><TD><input type="text" name="branch" size=12></td></tr>'\
         '</tr></table>' 
  echo '<br><input type="submit" value="Deploy">'\
           '</form>'

  if [ -z "$QUERY_STRING" ]
  then  exit 0
  else 
    BBURL=`echo "$QUERY_STRING" | sed -n 's/^.*bburl=\([^&]*\).*$/\1/p' | sed "s/%20/ /g"`
    BRANCH=`echo "$QUERY_STRING" | sed -n 's/^.*branch=\([^&]*\).*$/\1/p' | sed "s/%20/ /g ; s/%2F/\//g"`

    echo "RUNNING FOR:"
    echo '<br>'
    echo '<br>'
    echo "BITBUCKET GIT REPO: ${BBURL}"
    echo '<br>'
    echo "BRANCH TO DEPLOY: ${BRANCH}"
    echo '<br>'
    echo "RUNNING R10K NOW, IT USUALLY TAKES A MINUTE OR TWO..."
    echo '<br>'
    echo '<br>'
    echo "DONE."
    echo "<pre>"
  fi
echo '</body>'
echo '</html>'
exit 0

